.content{
    background:#eeeeee;
    width:100%;
    height:100%;
}
.top{
    width:100%;
    height:45px;
    background:#eeeeee;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    box-sizing:border-box;
}
.cont{
    width:95%;
    margin:0 auto;
    background:#fff;
}
title{
    font-size:50px;
    margin-left:40px;
    display: flex;
}
.text{
    width:90%;
    margin:0 auto;
    border:1px solid #ccc;
}
.icons{
    width:100%;
    height:45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    box-sizing: border-box;
    border-bottom:1px solid #ccc;
    
}
.icons .icon_left{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons .icon_right{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#components-dropdown-demo-placement .ant-btn {
    margin-right: 8px;
    margin-bottom: 8px;
  }

.choose{
    width:100%;
    display:flex;
    align-items: center;
    padding:15px;
    box-sizing: border-box;
}
.chooseBox{
    margin-left:20px;
}
.subBtn{
   display: flex;
   justify-content: flex-end;
   padding-right:20px;
   box-sizing: border-box;
}